input {
  text-align: center
}

.container-numbers {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .container-button{
    position: relative;
    top: 1rem;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  
  .container-button button{
    width: 100%;
    max-width: 150px;
    margin: 0 auto;
    align-items: center;
    border-radius: 12px 24px;
  }
  
  
  .container-result {
    position: relative;
    top: 2rem;
    width: 600px;
    margin: 0 auto;
    align-items: center;
  }